@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

#cube {
    position: absolute;
    margin: 0 auto;
    top: 30%;
    left: 45%;
    transform: translate(-50%,-50%);
    padding: 10px;
    border: 3px solid rgb(241, 114, 241);
    border-radius: 5px;
}

#cube2 {
    position: absolute;
    margin: 0 auto;
    top: 30%;
    left: 55%;
    transform: translate(-50%,-50%);
    padding: 10px;
    border: 3px solid rgb(241, 114, 241);
    border-radius: 5px;
}

#game {
    font-size: 20px;
}

#cheat {
    position: absolute;
    right: 20%;
}

#bid {
    position: absolute;
    right: 21%;
    top: 45%;
}

.vysledekVyhra{
    text-align: center;
    font-size: 50px;
    color: rgb(170, 240, 32);
}

.bezSazky{
    text-align: center;
    font-size: 50px;
    color: rgb(255, 246, 117);
}

.vysledekProhra{
    text-align: center;
    font-size: 50px;
    color: rgb(255, 79, 47);
}

.sazkaNadpis {
    color: white;
}

.sazka {
    padding: 7px;
    border: none;
    width: 150px;
    border-radius: 10px;
}

.potvrdit2 {
    padding: 10px;
    width: 150px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.potvrdit2:active {
    color: rgb(99, 99, 99);
}

.mag {
    color: white;
    margin-left: 12px;
}

.vstup {
    padding: 7px;
    border: none;
    border-radius: 10px;
}

.potvrdit {
    padding: 10px;
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-left: 50px;
}

.potvrdit:active {
    color: rgb(99, 99, 99);
}

body {
    background-color: rgb(43, 43, 48);
}

header {
    padding: 20px;
    background-color: #6d36af;
    color: white;
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;
}

.cg {
    position: absolute;
    font-size: 150px;
    text-align: center;
    color: rgb(134, 48, 32);
    top: 50%;
}

.cg2 {
    background-color: rgb(252, 71, 39);
    position: absolute;
    margin: 0 auto;
    top: 37%;
    left: 20%;
    transform: translate(-50%,-50%);
}

main p {
    color: white;
}

footer {
    background-color: rgb(32, 32, 36);
    padding: 10px;
    color: white;
}

.boo {
    color: white;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(2px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.glow-on-hover:focus {
    outline: transparent;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.duha {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    background-size: 400%;
    animation: glowing 20s linear infinite;
    transition: .3s ease-in-out;
}

.duhacube {
    padding: 10px;
    border: 3px solid;
    border-radius: 5px;
    border-image-slice: 1 !important;
    border-image-source: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000) !important;
}